/* Roboto */
/* Lato */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

p, span, a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

li {
  list-style: none;
}

.menu-pc {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  position: fixed;
  z-index: 100;
}
.menu-pc .menu-principal a {
  color: #fff;
  padding: 0 1em;
}

main {
  background-color: #fafafa;
}

.main-banner__img {
  width: 100%;
  height: 750px;
  position: relative;
  text-align: center;
  background-image: url("../../assets/img/banner-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-banner__info {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 0;
  right: 25%;
}
.main-banner__title {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.main-banner__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.main-banner__description {
  margin: 2.5rem 0;
  color: #fff;
}
.main-banner .computer {
  margin: 30px auto;
  width: 100%;
}
.main-banner .computer .computer-img {
  width: 50%;
  max-width: 669px;
}
.main-banner .main-aplication {
  margin: 10rem auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-banner .main-aplication img {
  width: 160px;
  margin: 0 auto;
  height: auto;
  opacity: 0.5;
  margin-bottom: 15px;
}
.main-banner .main-aplication img:hover {
  transition: all 0.3s ease-in;
  opacity: 1;
}

.feature::before {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
  margin: 15px auto;
}
.feature__title {
  opacity: 0.83;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.feature__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.feature .features-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}
.feature .feature-card {
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px #333;
  padding: 10px 10px 50px 10px;
  margin-top: 20px;
  background-color: #fff;
  border: 2px solid #fff;
  transition: all 0.3s ease-in;
}
.feature .feature-card:hover {
  transition: all 0.5s ease-out;
  border: 2px solid #fe8464;
}
.feature .feature-card:hover .back-img {
  transition: all 0.3s ease-in;
  transform: rotate(45deg);
}
.feature .feature-card .img-div {
  position: relative;
  margin: 50px 0;
}
.feature .feature-card .img-div img:nth-child(1) {
  position: absolute;
  left: 90px;
  top: -19px;
}
.feature .feature-card .img-div i {
  position: relative;
  left: -60px;
  top: -25px;
  font-size: 30px;
  color: #fff;
}
.feature .feature-card .img-div .back-img {
  transition: all 0.3s ease-in;
}
.feature .feature-card .img-div .medio {
  position: relative;
  left: 84px !important;
}
.feature .feature-card .img-div .ultimo {
  position: relative;
  left: 93px !important;
}
.feature .feature-card__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1.7;
  color: #333;
}
.feature .feature-card__description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 0 20px;
  color: #777;
}
.feature .feature-card__learn-more a, .feature .feature-card__learn-more i {
  margin-right: 1rem;
  margin-top: 2rem;
  color: #333;
}

.about {
  width: 100%;
  margin: 5rem 0;
}
.about__container {
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.about__body {
  width: 50%;
  margin: auto;
}
.about__body:nth-child(2) {
  padding-left: 1em;
}
.about__title {
  font-size: 2.2rem;
  margin-bottom: 10px;
  opacity: 0.85;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.about__title::before {
  content: "";
  display: block;
  width: 160px;
  height: 5px;
  background-color: #fe8464;
  margin-bottom: 20px;
}
.about__title span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.about__copy {
  margin: 20px 0;
  line-height: 1.5;
  padding-right: 1em;
  opacity: 0.7;
}
.about__image img {
  width: 500px;
}

.why {
  width: 100%;
}
.why__container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.why__image {
  position: relative;
}
.why__image::before {
  content: "";
  width: 500px;
  height: 430px;
  display: block;
  background-color: #03125d;
  position: absolute;
  z-index: 100;
  opacity: 0.4;
  border-radius: 15px;
}
.why__image .background-video {
  width: 500px;
  z-index: 10;
  position: relative;
}
.why__image .dots-img {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 160px;
  left: -40px;
}
.why__image .video-icon {
  margin: 35% -55%;
  position: absolute;
  z-index: 100;
  font-size: 4rem;
  color: #fff;
}
.why__body {
  padding: 0 0 0 7em;
}
.why__title {
  font-size: 2.2rem;
  opacity: 0.9;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.why__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.why__title::before {
  content: "";
  display: block;
  width: 160px;
  height: 5px;
  background-color: #fe8464;
  margin-bottom: 20px;
}
.why__copy {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.75;
  width: 450px;
}
.why .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.why .counter__information {
  text-align: center;
  position: relative;
  width: 156px;
  margin-top: 80px;
}
.why .counter__information::before {
  content: "";
  display: block;
  position: absolute;
  width: 155px;
  height: 120px;
  border-radius: 60px;
  margin: 0 50px;
  top: -24px;
  left: -51px;
  background: linear-gradient(to bottom, #33c8c1 0%, #33c8c1 50%, #119bd2 100%);
  transform: rotate(-45deg);
}
.why .counter__information span, .why .counter__information p {
  position: relative;
  color: #fff;
}
.why .counter__information span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2;
}
.why .counter__information:nth-child(2)::before {
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
}
.why .counter__information:nth-child(3)::before {
  background: linear-gradient(to bottom, #3338c8 0%, #3b74ca 50%, #1195ca 100%);
}

.team {
  margin: 5rem 0;
}
.team .members__title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 4rem;
  opacity: 0.83;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.team .members__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.team .members__title::before {
  content: "";
  width: 150px;
  height: 5px;
  display: block;
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
  margin: 20px auto;
}
.team .members__container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
  position: relative;
}
.team .members__container .card:hover .card__social {
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
}
.team .members__container .card__figure {
  width: 100%;
}
.team .members__container .card__figure img {
  width: 350px;
  height: 293px;
  vertical-align: top;
}
.team .members__container .card__social {
  position: relative;
  top: -82px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 63%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.team .members__container .card__social i {
  margin: 0 15px;
  color: #fff;
}
.team .members__container .card__info {
  text-align: center;
  background-color: #fff;
  padding: 1.7rem 0;
  margin-top: -55px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 0px 5px -2px #ddd;
}
.team .members__container .card__info .card__name {
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  opacity: 0.87;
  font-weight: bolder;
}
.team .members__container .card__info .card__position {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  opacity: 0.75;
  font-weight: bolder;
}
.team .users {
  margin: 5rem 0;
}
.team .users__title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.team .users__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.team .users__title::before {
  content: "";
  width: 160px;
  height: 5px;
  display: block;
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
  margin: auto;
  margin-bottom: 1.5rem;
}
.team .users .slider__width {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
}
.team .users .slider__user {
  width: 380px;
  border-radius: 10px;
  margin: 0 1rem;
  padding: 1.5em;
  border: 2px solid #fff;
  background-color: #fff;
  transition: all 0.3s ease-out;
}
.team .users .slider__user:hover {
  border: 2px solid #fe8464;
  transition: all 0.3s ease-out;
}
.team .users .slider .hidden-user {
  display: none;
}
.team .users .slider .user__header {
  display: flex;
  justify-content: space-between;
  margin: 0.6rem 0 1rem 0;
}
.team .users .slider .user__header i {
  color: #fe8464;
}
.team .users .slider .user__description {
  height: 100%;
  margin: 2rem 0;
}
.team .users .slider .user__description p {
  line-height: 1.5;
  opacity: 0.6;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.team .users .slider .user__footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.team .users .slider .user__footer img {
  width: 80px;
  height: 80px;
}
.team .users .slider .user__info {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.team .users .slider .user__info .user__name {
  font-size: 1.3rem;
  opacity: 0.85;
}
.team .users .slider .user__info .user__position {
  font-size: 0.9rem;
  opacity: 0.7;
  font-weight: normal;
}

.blog {
  width: 100%;
  margin: 5rem auto 0 auto;
}
.blog__title {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.blog__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.blog__title::before {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
  margin-bottom: 1rem;
}
.blog .posts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blog .posts__container {
  margin: 0 1rem;
}
.blog .posts .post {
  width: 370px;
}
.blog .posts .post__author {
  margin: 1rem 0;
}
.blog .posts .post__author span {
  opacity: 0.7;
}
.blog .posts .post__author span:nth-child(2) {
  margin: 0 2rem;
}
.blog .posts .post__description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  opacity: 0.9;
  margin-bottom: 2rem;
}
.blog .posts .post__description + span {
  margin-right: 1rem;
  color: #fe8464;
  cursor: pointer;
}
.blog .posts .post__description ~ i {
  color: #fe8464;
  cursor: pointer;
}

.footer {
  background-color: #fafafa;
  padding-top: 7rem;
  background-image: url("../../assets/img/footer-bg.svg");
  background-position: top center;
}

.subscribe {
  background-color: #fff;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 6em 2em;
  border-radius: 10px;
  box-shadow: 0px 0px 11px 0px #ddd;
}
.subscribe__title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  margin-right: 4rem;
}
.subscribe__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.subscribe__form {
  display: flex;
  flex-wrap: wrap;
}
.subscribe__input {
  width: 320px;
  height: 70px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #ddd;
  padding: 0 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  outline-color: #f75d37;
}

.information {
  width: 90%;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.information .card--basic {
  width: 360px;
  line-height: 2;
  margin-right: 3rem;
}
.information .card--basic img {
  margin: 2rem 0;
}
.information .card {
  width: 215px;
  line-height: 2.5;
}
.information .card__title {
  margin: 1rem 0;
  font-size: 1.8rem;
}
.information .card .large-list {
  line-height: 1.4;
}
.information .card__social i {
  margin-right: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.footer__copy {
  margin: 0 auto;
  padding: 2rem 0;
  width: 85%;
  border-top: 0.1px solid #fff;
  color: #fff;
  text-align: center;
}
.footer__copy a {
  color: #0ecedb;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-weight: bold;
  font-size: 1.1rem;
}

.main-button, .button--banner {
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.button--banner {
  background: linear-gradient(to right, #33c8c1 0%, #33c8c1 50%, #119bd2 100%);
  color: #fff;
  transition: all 0.1s ease-out;
}
.button--banner:hover {
  animation: fadeInLeft 0.19s ease-in-out;
  animation-delay: 100ms;
}
@keyframes fadeInLeft {
  0% {
    transform: translateX(0px);
    background: linear-gradient(to right, #33c8c1 0%, #33c8c1 50%, #119bd2 100%);
  }
  25% {
    transform: translateX(0px);
    background: linear-gradient(to left, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  }
  50% {
    transform: translateX(0px);
    background: linear-gradient(to left, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  }
  75% {
    transform: translateX(0px);
    background: linear-gradient(to left, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  }
  100% {
    transform: translateX(0px);
    background: linear-gradient(to left, #33c8c1 0%, #33c8c1 50%, #119bd2 100%);
  }
}

.button--about {
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
  color: #fff;
  transition: all 0.5s ease-out;
}
.button--about:hover {
  animation: fadeInLeft2 0.2s ease-in;
}
@keyframes fadeInLeft2 {
  0% {
    transform: translateX(0px);
    background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
  }
  100% {
    transform: translateX(0px);
    background: linear-gradient(to right, #f66e9a 0%, #fe8464 50%, #f66e9a 100%);
  }
}

.subscribe-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
}
.subscribe-button:hover {
  animation: fadeInLeft2 0.2s ease-in;
}
@keyframes fadeInLeft2 {
  0% {
    transform: translateX(0px);
    background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
  }
  100% {
    transform: translateX(0px);
    background: linear-gradient(to right, #f66e9a 0%, #fe8464 50%, #f66e9a 100%);
  }
}

/*# sourceMappingURL=styles.css.map */
