/* Roboto */
/* Lato */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h2 {
  color: #2E2E2E;
  opacity: 1 !important;
}
@media screen and (max-width: 640px) {
  h2 {
    font-size: 1.6rem !important;
  }
}

p, span, a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

li {
  list-style: none;
}

.about__body, .about__image {
  opacity: 0.3;
  transition: all 1s;
}

.main-banner__info {
  transition: all 7s;
  position: relative;
  animation-name: arriba;
  animation-duration: 3s;
}

.main-aplication {
  opacity: 0.1;
  transition: all 2s;
}

.feature-card {
  opacity: 0.1;
  transition: all 4s;
}

.why__image {
  opacity: 0.3;
  transition: all 2s;
}

.why__body {
  opacity: 0;
  transition: all 3s;
}

.team .card {
  transition: all 2s;
}

.slider {
  opacity: 0;
  transition: all 1s;
}

.posts {
  opacity: 0.3;
  transition: all 2s;
}

.footer .information {
  transition: all 2s;
}

.transform_left {
  transform: translateX(-20%);
}

.transform_right {
  transform: translateX(20%);
}

@keyframes arriba {
  0% {
    bottom: -30%;
    opacity: 0.3;
  }
  100% {
    bottom: 0%;
    opacity: 1;
  }
}

.transform_up2 {
  transform: translateY(10%);
}

.transform_down {
  transform: translateY(20%);
}

.aparece {
  opacity: 1;
  transform: none;
}

.menu-pc {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  position: fixed;
  z-index: 1000;
}
@media screen and (max-width: 991px) {
  .menu-pc {
    display: none;
  }
}
.menu-pc .menu-principal a {
  color: #fff;
  padding: 0 1em;
}

.active-link {
  color: red;
}

/* para el cambio de color del menu al hacer scroll */
.pc a {
  color: #474747 !important;
  transition: all 0.3s ease-in;
}

.menu-mobile {
  display: none;
}
@media screen and (max-width: 991px) {
  .menu-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    position: fixed;
    z-index: 1000;
  }
  .menu-mobile .logo {
    margin-right: 25%;
  }
  .menu-mobile .burger-menu {
    margin-left: 25%;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
  }
  .menu-mobile .menu-principal {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    width: 80%;
    top: -235px;
    left: 100%;
    padding-top: 0.8em;
    padding-left: 2em;
    padding-bottom: 0.5em;
    transition: all 0.5s ease-out !important;
  }
  .menu-mobile .menu-principal a {
    padding-top: 0.5em;
    padding-bottom: 1em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #404040;
  }
  .menu-mobile .active {
    position: absolute;
    width: 80%;
    top: 300px;
    left: -62%;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease-in !important;
  }
}
@media screen and (max-width: 991px) and (max-width: 640px) {
  .menu-mobile .active {
    width: 100%;
    left: -90%;
  }
}

.menu-mobile__black {
  background-color: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
}
.menu-mobile__black i {
  color: #474747;
}

main {
  background-color: #fafafa;
}

.main-banner__img {
  width: 100%;
  height: 750px;
  position: relative;
  text-align: center;
  background-image: url("../../assets/img/banner-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-banner__info {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 0;
  right: 25%;
}
@media screen and (max-width: 640px) {
  .main-banner__info {
    top: 17%;
  }
}
.main-banner__title {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .main-banner__title {
    font-size: 1.7rem;
  }
}
.main-banner__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.main-banner__description {
  margin: 2.5rem 0;
  color: #fff;
}
@media screen and (max-width: 640px) {
  .main-banner__description {
    margin: 2.5rem 3rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 360px) {
  .main-banner__description {
    margin: 2.5rem 1rem;
    line-height: 1.5;
  }
}
.main-banner .computer {
  margin: 30px auto;
  width: 100%;
}
.main-banner .computer .computer-img {
  width: 50%;
  max-width: 669px;
}
@media screen and (max-width: 640px) {
  .main-banner .computer .computer-img {
    width: 90%;
  }
}
@media screen and (max-width: 360px) {
  .main-banner .computer .computer-img {
    width: 100%;
  }
}
.main-banner .main-aplication {
  margin: 10rem auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 640px) {
  .main-banner .main-aplication {
    margin-top: 5rem;
    width: 90%;
  }
}
@media screen and (max-width: 360px) {
  .main-banner .main-aplication {
    margin-top: 0rem;
  }
}
.main-banner .main-aplication img {
  width: 160px;
  margin: 0 auto;
  height: auto;
  opacity: 0.5;
  margin-bottom: 15px;
}
@media screen and (max-width: 360px) {
  .main-banner .main-aplication img {
    width: 130px;
    height: 30px;
    margin-bottom: 30px;
  }
}
.main-banner .main-aplication img:hover {
  transition: all 0.3s ease-in;
  opacity: 1;
}

.feature::before {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
  margin: 15px auto;
}
.feature__title {
  opacity: 0.83;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.feature__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.feature .features-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}
@media screen and (max-width: 1270px) {
  .feature .features-container {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .feature .features-container {
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  .feature .features-container {
    width: 95%;
  }
}
.feature .feature-card {
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 5px 30px 0px rgba(167, 167, 167, 0.16);
  padding: 10px 10px 50px 10px;
  margin-top: 20px;
  background-color: #fff;
  border: 2px solid transparent;
  transition: all 0.3s ease-in;
}
@media screen and (max-width: 1270px) {
  .feature .feature-card {
    width: 300px;
    padding: 10px 0px 50px 0px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 991px) {
  .feature .feature-card {
    width: 500px;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .feature .feature-card {
    width: 100%;
  }
}
.feature .feature-card:hover {
  transition: all 0.5s ease-out;
  border: 2px solid #fe8464;
}
.feature .feature-card:hover .back-img {
  transition: all 0.3s ease-in;
  transform: rotate(45deg);
}
.feature .feature-card .img-div {
  position: relative;
  top: 18%;
}
.feature .feature-card .img-div .back-img {
  position: relative;
  margin: auto;
  display: flex;
}
.feature .feature-card .img-div .feature-card__img {
  position: relative;
  margin: auto;
  display: flex;
  top: -103px;
}
.feature .feature-card .img-div i {
  position: relative;
  top: -150px;
  left: -5px;
  font-size: 30px;
  color: #fff;
}
.feature .feature-card__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1.7;
  color: #333;
}
.feature .feature-card__description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 0 20px;
  color: #777;
}
.feature .feature-card__learn-more a, .feature .feature-card__learn-more i {
  margin-right: 1rem;
  margin-top: 2rem;
  color: #333;
}

.about {
  width: 100%;
  margin: 5rem 0;
}
.about__container {
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
@media screen and (max-width: 1270px) {
  .about__container {
    width: 100%;
    padding: 0 2em;
  }
}
@media screen and (max-width: 991px) {
  .about__container:nth-child(2) {
    display: flex;
  }
  .about__container:nth-child(2) .about__image {
    order: 2;
  }
  .about__container:nth-child(2) .about__body {
    order: 1;
  }
}
.about__body {
  margin: auto;
  width: 46%;
}
@media screen and (max-width: 991px) {
  .about__body {
    width: 55%;
    margin-left: 5rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .about__body {
    width: 100%;
    margin-left: 0;
  }
}
.about__body:nth-child(2) {
  padding-left: 1em;
}
.about__title {
  font-size: 2.2rem;
  margin-bottom: 10px;
  opacity: 0.85;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.about__title::before {
  content: "";
  display: block;
  width: 160px;
  height: 5px;
  background-color: #fe8464;
  margin-bottom: 20px;
}
.about__title span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.about__copy {
  margin: 20px 0;
  line-height: 1.5;
  padding-right: 1em;
  opacity: 0.7;
}
.about__image img {
  width: 500px;
}
@media screen and (max-width: 991px) {
  .about__image img {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .about__image img {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .about__image {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 640px) {
  .about__image {
    margin-left: 0;
  }
}

.why {
  width: 100%;
}
.why__container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
@media screen and (max-width: 1270px) {
  .why__container {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .why__container {
    width: 85%;
  }
}
@media screen and (max-width: 360px) {
  .why__container {
    width: 95%;
  }
}
.why__image {
  position: relative;
}
.why__image::before {
  content: "";
  width: 500px;
  height: 430px;
  display: block;
  background-color: #03125d;
  position: absolute;
  z-index: 100;
  opacity: 0.4;
  border-radius: 15px;
}
@media screen and (max-width: 991px) {
  .why__image::before {
    width: 100%;
    height: 99.1%;
  }
}
.why__image .background-video {
  width: 500px;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 991px) {
  .why__image .background-video {
    width: 100%;
  }
}
.why__image .dots-img {
  width: 85%;
  height: auto;
  position: absolute;
  top: 29%;
  left: -7%;
}
.why__image .video-icon {
  margin: 35% -55%;
  position: absolute;
  z-index: 200;
  font-size: 4rem;
  color: #fff;
  cursor: pointer;
}
.why .video-modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 1001;
  /* +1, para que no intervenga con el z-index del btn-volver-arriba del footer */
}
.why .video-modal iframe {
  display: block;
  width: 55%;
  height: 75%;
  margin: auto;
  position: relative;
  top: 20%;
}
@media screen and (max-width: 991px) {
  .why .video-modal iframe {
    width: 70%;
    height: 57%;
  }
}
@media screen and (max-width: 640px) {
  .why .video-modal iframe {
    width: 60%;
    height: 55%;
  }
}
@media screen and (max-width: 360px) {
  .why .video-modal iframe {
    width: 90%;
    height: 45%;
  }
}
.why .video-modal i {
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  top: -60%;
  left: 80%;
  font-size: 2.5rem;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .why .video-modal i {
    top: -40%;
  }
}
@media screen and (max-width: 640px) {
  .why .video-modal i {
    top: -45%;
  }
}
@media screen and (max-width: 360px) {
  .why .video-modal i {
    top: -35%;
  }
}
.why .video-modal i:hover {
  color: #fff;
}
.why__body {
  padding: 0 0 0 7em;
}
@media screen and (max-width: 1270px) {
  .why__body {
    padding: 0 0 0 0.6em;
  }
}
@media screen and (max-width: 991px) {
  .why__body {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 640px) {
  .why__body {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}
.why__title {
  font-size: 2.2rem;
  opacity: 0.9;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.why__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.why__title::before {
  content: "";
  display: block;
  width: 160px;
  height: 5px;
  background-color: #fe8464;
  margin-bottom: 20px;
}
.why__copy {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.75;
  width: 450px;
}
@media screen and (max-width: 991px) {
  .why__copy {
    width: 100%;
  }
}
.why .footer-why {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .why .footer-why {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 640px) {
  .why .footer-why {
    display: flex;
    justify-content: start;
  }
}
.why .counter__information {
  text-align: center;
  position: relative;
  width: 156px;
  margin-top: 80px;
}
@media screen and (max-width: 360px) {
  .why .counter__information {
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
.why .counter__information::before {
  content: "";
  display: block;
  position: absolute;
  width: 155px;
  height: 120px;
  border-radius: 60px;
  margin: 0 50px;
  top: -24px;
  left: -51px;
  background: linear-gradient(to bottom, #33c8c1 0%, #33c8c1 50%, #119bd2 100%);
  transform: rotate(-45deg);
}
@media screen and (max-width: 640px) {
  .why .counter__information::before {
    width: 100%;
    height: 100px;
    top: -15px;
    left: -47px;
  }
}
.why .counter__information span, .why .counter__information p {
  position: relative;
  color: #fff;
}
.why .counter__information span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2;
}
@media screen and (max-width: 640px) {
  .why .counter__information span {
    font-size: 1rem;
  }
}
@media screen and (max-width: 640px) {
  .why .counter__information p {
    font-size: 0.95rem;
  }
}
.why .counter__information:nth-child(2)::before {
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
}
.why .counter__information:nth-child(3)::before {
  background: linear-gradient(to bottom, #3338c8 0%, #3b74ca 50%, #1195ca 100%);
}

.team {
  margin: 5rem 0;
}
.team .members__title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 4rem;
  opacity: 0.83;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.team .members__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.team .members__title::before {
  content: "";
  width: 150px;
  height: 5px;
  display: block;
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
  margin: 20px auto;
}
.team .members__container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
  position: relative;
}
@media screen and (max-width: 1270px) {
  .team .members__container {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .team .members__container {
    width: 90%;
  }
}
@media screen and (max-width: 1270px) {
  .team .members__container .card {
    width: 300px;
  }
}
@media screen and (max-width: 991px) {
  .team .members__container .card {
    width: 316px;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .team .members__container .card {
    width: 100%;
  }
}
.team .members__container .card:hover .card__social {
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
}
.team .members__container .card__figure {
  width: 100%;
}
.team .members__container .card__figure img {
  width: 350px;
  height: 293px;
  vertical-align: top;
}
@media screen and (max-width: 1270px) {
  .team .members__container .card__figure img {
    width: 315px;
  }
}
@media screen and (max-width: 640px) {
  .team .members__container .card__figure img {
    width: 100%;
    height: auto;
  }
}
.team .members__container .card__social {
  position: relative;
  top: -82px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 63%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 640px) {
  .team .members__container .card__social {
    margin: auto;
  }
}
.team .members__container .card__social i {
  margin: 0 15px;
  color: #fff;
}
@media screen and (max-width: 1270px) {
  .team .members__container .card__social i {
    margin: 0 10px;
  }
}
.team .members__container .card__info {
  text-align: center;
  background-color: #fff;
  padding: 1.7rem 0;
  margin-top: -55px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 0px 5px -2px #ddd;
}
@media screen and (max-width: 1270px) {
  .team .members__container .card__info {
    width: 315px;
  }
}
@media screen and (max-width: 640px) {
  .team .members__container .card__info {
    width: 100%;
  }
}
.team .members__container .card__info .card__name {
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  opacity: 0.87;
  font-weight: bolder;
}
.team .members__container .card__info .card__position {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  opacity: 0.75;
  font-weight: bolder;
}
.team .users {
  margin: 5rem 0;
}
.team .users__title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.team .users__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.team .users__title::before {
  content: "";
  width: 160px;
  height: 5px;
  display: block;
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
  margin: auto;
  margin-bottom: 1.5rem;
}
.team .users .slider__width {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}
.team .users .slider__user {
  width: 380px;
  border-radius: 10px;
  margin: 0 1rem;
  padding: 1.5em;
  border: 2px solid #fff;
  background-color: #fff;
  transition: all 0.3s ease-out;
}
@media screen and (max-width: 1270px) {
  .team .users .slider__user {
    margin: 1rem 1rem 0 1rem;
  }
}
.team .users .slider__user:hover {
  border: 2px solid #fe8464;
  transition: all 0.3s ease-out;
}
.team .users .slider .user__header {
  display: flex;
  justify-content: space-between;
  margin: 0.6rem 0 1rem 0;
}
.team .users .slider .user__header i {
  color: #fe8464;
}
.team .users .slider .user__description {
  height: 100%;
  margin: 2rem 0;
}
.team .users .slider .user__description p {
  line-height: 1.5;
  opacity: 0.6;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.team .users .slider .user__footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.team .users .slider .user__footer img {
  width: 80px;
  height: 80px;
}
.team .users .slider .user__info {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.team .users .slider .user__info .user__name {
  font-size: 1.3rem;
  opacity: 0.85;
}
.team .users .slider .user__info .user__position {
  font-size: 0.9rem;
  opacity: 0.7;
  font-weight: normal;
}

.blog {
  width: 100%;
  margin: 5rem auto 0 auto;
}
.blog__title {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.blog__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.blog__title::before {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
  margin-bottom: 1rem;
}
.blog .posts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blog .posts__container {
  margin: 0 1rem;
}
@media screen and (max-width: 1270px) {
  .blog .posts__container {
    margin: 0 0.5rem;
  }
}
.blog .posts .post {
  width: 370px;
}
@media screen and (max-width: 1270px) {
  .blog .posts .post {
    width: 300px;
  }
  .blog .posts .post__figure img {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .blog .posts .post {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}
.blog .posts .post__author {
  margin: 1rem 0;
}
.blog .posts .post__author span {
  opacity: 0.7;
}
.blog .posts .post__author span:nth-child(2) {
  margin: 0 2rem;
}
.blog .posts .post__description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  opacity: 0.9;
  margin-bottom: 2rem;
}
.blog .posts .post__description + span {
  margin-right: 1rem;
  color: #fe8464;
  cursor: pointer;
}
.blog .posts .post__description ~ i {
  color: #fe8464;
  cursor: pointer;
}

.footer {
  background-color: #fafafa;
  padding-top: 7em;
  background-image: url("../../assets/img/footer-bg.svg");
  background-position: top center;
}
@media screen and (max-width: 1270px) {
  .footer {
    background-size: cover;
  }
}
@media screen and (max-width: 640px) {
  .footer {
    padding-top: 5em;
  }
}

.subscribe {
  background-color: #fff;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 6em 2em;
  border-radius: 10px;
  box-shadow: 0px 0px 11px 0px #ddd;
}
@media screen and (max-width: 1270px) {
  .subscribe {
    padding: 4rem 2em;
  }
}
@media screen and (max-width: 640px) {
  .subscribe {
    width: 95%;
  }
}
.subscribe__title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  margin-right: 4rem;
  opacity: 0.8;
}
@media screen and (max-width: 1270px) {
  .subscribe__title {
    width: 83%;
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 991px) {
  .subscribe__title {
    width: 100%;
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 640px) {
  .subscribe__title {
    width: 100%;
    font-size: 1.7rem;
  }
}
.subscribe__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.subscribe__form {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1270px) {
  .subscribe__form {
    width: 90%;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 640px) {
  .subscribe__form {
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .subscribe__form {
    margin-top: 1rem;
  }
}
.subscribe__input {
  width: 320px;
  height: 70px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #ddd;
  padding: 0 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  outline-color: #f75d37;
}
@media screen and (max-width: 1270px) {
  .subscribe__input {
    width: 80%;
  }
}
@media screen and (max-width: 991px) {
  .subscribe__input {
    width: 60%;
  }
}
@media screen and (max-width: 640px) {
  .subscribe__input {
    width: 100%;
    border-radius: 5px;
  }
}

.information {
  width: 90%;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .information {
    justify-content: space-between;
  }
}
.information .card--basic {
  width: 360px;
  line-height: 2;
  margin-right: 3rem;
}
@media screen and (max-width: 640px) {
  .information .card--basic {
    margin-bottom: 3rem;
  }
}
.information .card--basic img {
  margin: 2rem 0;
}
.information .card {
  width: 215px;
  line-height: 2.5;
}
@media screen and (max-width: 640px) {
  .information .card {
    width: 190px;
  }
}
.information .card__title {
  margin: 1rem 0;
  font-size: 1.8rem;
}
.information .card .large-list {
  line-height: 1.4;
}
.information .card__social i {
  margin-right: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.footer__copy {
  margin: 0 auto;
  padding: 2rem 0;
  width: 85%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  text-align: center;
}
.footer__copy a {
  color: #0ecedb;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-weight: bold;
  font-size: 1.1rem;
}

/* Boton de Volver Arriba */
.btn-volver-arriba {
  width: 50px;
  height: 50px;
  background: linear-gradient(to right, #182dc1 0%, #00abde 100%);
  border-radius: 30%;
  position: fixed;
  bottom: 2rem;
  right: -4rem;
  z-index: 1000;
  transition: all 0.4s ease;
}
.btn-volver-arriba a {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}
.btn-volver-arriba a i {
  line-height: 50px;
  font-size: 1.5rem;
  color: #fff;
}

.main-button, .button--banner {
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.button--banner {
  background: linear-gradient(to right, #33c8c1 0%, #33c8c1 50%, #119bd2 100%);
  color: #fff;
  transition: all 0.1s ease-out;
}
.button--banner:hover {
  animation: fadeInLeft 0.19s ease-in-out;
  animation-delay: 100ms;
}
@keyframes fadeInLeft {
  0% {
    transform: translateX(0px);
    background: linear-gradient(to right, #33c8c1 0%, #33c8c1 50%, #119bd2 100%);
  }
  25% {
    transform: translateX(0px);
    background: linear-gradient(to left, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  }
  50% {
    transform: translateX(0px);
    background: linear-gradient(to left, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  }
  75% {
    transform: translateX(0px);
    background: linear-gradient(to left, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  }
  100% {
    transform: translateX(0px);
    background: linear-gradient(to left, #33c8c1 0%, #33c8c1 50%, #119bd2 100%);
  }
}

.button--about {
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
  color: #fff;
  transition: all 0.5s ease-out;
}
.button--about:hover {
  animation: fadeInLeft2 0.2s ease-in;
}
@keyframes fadeInLeft2 {
  0% {
    transform: translateX(0px);
    background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
  }
  100% {
    transform: translateX(0px);
    background: linear-gradient(to right, #f66e9a 0%, #fe8464 50%, #f66e9a 100%);
  }
}

.subscribe-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
}
@media screen and (max-width: 640px) {
  .subscribe-button {
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 5px;
    padding: 1.5em 2em;
  }
}
.subscribe-button:hover {
  animation: fadeInLeft2 0.2s ease-in;
}
@keyframes fadeInLeft2 {
  0% {
    transform: translateX(0px);
    background: linear-gradient(to right, #fe8464 0%, #f66e9a 50%, #fe8464 100%);
  }
  100% {
    transform: translateX(0px);
    background: linear-gradient(to right, #f66e9a 0%, #fe8464 50%, #f66e9a 100%);
  }
}

/*# sourceMappingURL=styles.css.map */
