main {
  background-color: #fafafa;
}
.main-banner {

  &__img {
    width: 100%;
    height: 750px;
    position: relative;
    text-align: center;
    background-image: url('../../assets/img/banner-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  &__info {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 0;
    right: 25%;

    @include medium {
      top: 17%;
    }
  } 
  &__title {
    color: #fff;
    font-size: 2.5rem;

    @include medium {
      font-size: 1.7rem;
    }
    @include font-primary-regular;
    span {
      @include font-primary-bold;
    }
  }
  &__description {
    margin: 2.5rem 0;
    color: #fff;

    @include medium {
      margin: 2.5rem 3rem;
      font-size: 1rem;
    }
    @include small {
      margin: 2.5rem 1rem;
      line-height: 1.5;
    }
  }
  // para la img de la computadora
  .computer {
    margin: 30px auto;
    width: 100%;
    .computer-img {
      width: 50%;
      max-width: 669px;

      @include medium {
        width: 90%;
      }
      @include small {
        width: 100%;
      }
    }
  }

  .main-aplication {
    margin: 10rem auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include medium {
      margin-top: 5rem;
      width: 90%;
    }
    @include small {
      margin-top: 0rem;
    }
    img {
      width: 160px;
      margin: 0 auto; // para centrear las img cuando se haga pequeño la pantalla
      height: auto;
      opacity: .5;
      margin-bottom: 15px;

      @include small {
        width: 130px;
        height: 30px;
        margin-bottom: 30px;
      }

      &:hover {
        transition: all .3s ease-in;
        opacity: 1;
      }
    }
  }

}