.why {
  width: 100%;

  &__container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    @include xlarge {
      width: 100%;
    }
    @include large {
      width: 85%;
    }
    @include small {
      width: 95%;
    }
  }

  &__image {
    position: relative;
    &::before {
      content: "";
      width: 500px;
      height: 430px;
      display: block;
      background-color: #03125d;
      position: absolute;
      z-index: $z-fixed;
      opacity: .4;
      border-radius: 15px;

      @include large {
        width: 100%;
        height: 99.1%;
      }
    }
    .background-video {
      width: 500px;
      z-index: $z-tooltip;
      position: relative;

      @include large {
        width: 100%;
      }
    }
    .dots-img {
      width: 85%;
      height: auto;
      position: absolute;
      top: 29%;
      left: -7%;
    }

    .video-icon {
      margin: 35% -55%;
      position: absolute;
      z-index: $z-fixed + 100;
      font-size: 4rem;
      color: #fff;
      cursor: pointer;

    }
  }
  .video-modal {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(#000000, .8);
    top: 0;
    z-index: $z-modal + 1;/* +1, para que no intervenga con el z-index del btn-volver-arriba del footer */

    iframe {
      display: block;
      width: 55%;
      height: 75%;
      margin: auto;
      position: relative;
      top: 20%;

      @include large {
        width: 70%;
        height: 57%;
      }
      @include medium {
        width: 60%;
        height: 55%;
      }
      @include small {
        width: 90%;
        height: 45%;
      }
      
    }
    i {
      color: rgba(#fff, .6);
      position: relative;
      top: -60%;
      left: 80%;
      font-size: 2.5rem;
      cursor: pointer;
      @include large {
        top: -40%;
        // left: 90%;
      }
      @include medium {
        top: -45%;
        // left: 45%;
      }
      @include small {
        top: -35%;
      }
      
      &:hover {
        color: #fff;
      }
    }
  }

  &__body {
    padding: 0 0 0 7em;

    @include xlarge {
      padding: 0 0 0 0.6em;
    }
    @include large {
      margin-top: 4rem;
      margin-bottom: 3rem;
    }
    @include medium{
      width: 100%;
      margin-top: 4rem;
      margin-bottom: 3rem;
    }
  }
  &__title {
    font-size: 2.2rem;
    opacity: .9;
    margin-bottom: 2rem;
    @include font-primary-light;
    span {
      @include font-primary-bold;
    }

    &::before {
      content: '';
      display: block;
      width: 160px;
      height: 5px;
      background-color: #fe8464;
      margin-bottom: 20px;
    }
  }
  &__copy {
    @include font-secondary-regular;
    line-height: 1.5;
    opacity: .75;
    width: 450px;

    @include large {
      width: 100%;
    }
  }

  .footer-why {
    display: flex;
    justify-content: center;
    align-items: center;

    @include large{
      justify-content: space-evenly;
    }
    @include medium {
      display: flex;
      justify-content: start;
    }
  }
  .counter__information {
    text-align: center;
    position: relative;
    width: 156px;
    margin-top: 80px;
    
    @include small {
      margin-right: .2rem;
      margin-left: .2rem;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 155px;
      height: 120px;
      border-radius: 60px;
      margin: 0 50px;
      top: -24px;
      left: -51px;
      background: linear-gradient(to bottom, #33c8c1 0%, #33c8c1 50%,
#119bd2 100%);
      transform: rotate(-45deg);

      @include medium {
        width: 100%;
        height: 100px;
        top: -15px;
        left: -47px;  
      }
    }
    span, p {
      position: relative;
      color: #fff;
    }
    span {
      @include font-secondary-bold;
      font-size: 1.2rem;
      line-height: 2;

      @include medium {
        font-size: 1rem;
      }
    }
    p {
      @include medium {
        font-size: .95rem;
      }
    }
  }
  .counter__information:nth-child(2) {
      &::before {
      background: $color-primary;
    }
  }
  .counter__information:nth-child(3) {
    &::before {
      background: linear-gradient(to bottom, #3338c8 0%, #3b74ca 50%, #1195ca 100%);
    }
  }
}